body{
    background:rgb(255, 255, 255);
}

.main-content{
    background:#7e7e7e;
    min-height: 100vh;
}

.nav-link{
    color: #000;
    opacity: 0.7;
    padding: 1em 3em;
}

.nav-link:hover{
    opacity: 1;
    color: #398cf1;
}

.nav-link.active{
    opacity: 1;
    color: #000;
    font-weight: bold;
}

h1,h2,h3,h4,h5{
    margin:0px;
}

.card-header h3{
    font-size: 1em;
    letter-spacing: 1px;
}

table.table tr th{
    color:#737373;
}

table.table tr td{
    color:#737373;
    font-size: 0.9em;
    vertical-align: middle;
}

.pagination{
    justify-content: center;
    align-items: center;
}

table.table tr td{
    color: #737373;
    font-size: 0.9em;
    vertical-align: middle;
}

.col-pas_photo{
    max-width: 600px;
}